[submodule "airootfs/root/.dotfiles"]
	path = airootfs/.dotfiles
	url = https://github.com/Sciencentistguy/dotfiles.git
[submodule "airootfs/.dotfiles"]
	path = airootfs/.dotfiles
	url = https://github.com/Sciencentistguy/dotfiles.git
